<a href="https://colab.research.google.com/github/NishatTasnim01/Data-Science-Basics/blob/main/1_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Notes of Data Science Course!")

Notes of Data Science Course!

## **Comments**

In [ ]:
#This is a comment.
print("Day 1 on Python Basics!")   #So, concentrate on lecture.

Day 1 on Python Basics!

In [ ]:
#print("Cats are learning Python!")
print("Learn about the basics of Python from w3school!")

Learn about the basics of Python from w3school!

In [ ]:
#This is a comment
#written in
#more than just one line
print("Overview Python lecture on our own effort to learn more!")

Overview Python lecture on our own effort to learn more!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Python is a major basic to learn ML and DL!")

Python is a major basic to learn ML and DL!

# **Variables**

In [ ]:
x = 23
y = "Nishat"
print(x)
print(y)

23
Nishat

In [ ]:
x = 4       # x is of type int
x = "Tasnim" # x is now of type str
print(x)

Tasnim

## **Casting**

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

## **Get the Type**

In [ ]:
x = 23
y = "Nishat"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## **Single or Double Quotes?**

In [ ]:
x = "Nishat"
# is the same as
y = 'Nishat'

print(x)
print(y)

Nishat
Nishat

## **Case-Sensitive**

In [ ]:
a = 23
A = "Tasnim"
#A will not overwrite a

print(a)
print(A)

23
Tasnim

## **Variable Names**

In [ ]:
myvar = "Nishat"
my_var = "Nishat"
_my_var = "Nishat"
myVar = "Nishat"
MYVAR = "Nishat"
myvar2 = "Nishat"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)

Nishat
Nishat
Nishat
Nishat
Nishat

In [ ]:
2myvar = "Tasnim"
my-var = "Tasnim"
my var = "Tasnim"

SyntaxError: invalid decimal literal (<ipython-input-25-e4a6bc5d7989>, line 1)

In [ ]:
myVariableName = "Data"       #Camel Case
MyVariableName = "Science"    #Pascal Case
my_variable_name = "Course"   #Snake Case

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Data
Science
Course

## **Many Values to Multiple Variables**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

## **One Value to Multiple Variables**

In [ ]:
x = y = z = "Watermelon 🍉"
print(x)
print(y)
print(z)

Watermelon 🍉
Watermelon 🍉
Watermelon 🍉

## **Unpack a Collection**

In [ ]:
fruits = ["Apple 🍎", "Banana 🍌", "Cherry 🍒"]
x, y, z = fruits
print(x)
print(y)
print(z)

Apple 🍎
Banana 🍌
Cherry 🍒

## **Output Variables**

In [ ]:
x = "Python is awesome!"
print(x)

Python is awesome!

In [ ]:
x = "Python"
y = "is"
z = "awesome!"
print(x, y, z)

Python is awesome!

In [ ]:
x = "Python "
y = "is "
z = "awesome!"
print(x + y + z)

Python is awesome!

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 200
y = "Potato"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 200
y = "Potato"
print(x, y)

200 Potato

# **Data Types**

## **Getting the Data Type**

In [ ]:
x = "Python World"
print(x)
print(type(x))

x = 5
print(x)
print(type(x))

x = 20.5
print(x)
print(type(x))

x = ["Apple", "Banana", "Cherry"]
print(x)
print(type(x))

x = ("Apple", "Banana", "Cherry")
print(x)
print(type(x))

x = {"name" : "Nishat", "age" : 23}
print(x)
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

x = True
print(x)
print(type(x))

x = b"Hello"
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytes(5))
print(x)
print(type(x))

x = None
print(x)
print(type(x))

Python World
<class 'str'>
5
<class 'int'>
20.5
<class 'float'>
['Apple', 'Banana', 'Cherry']
<class 'list'>
('Apple', 'Banana', 'Cherry')
<class 'tuple'>
{'name': 'Nishat', 'age': 23}
<class 'dict'>
frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7f09f431cd00>
<class 'memoryview'>
None
<class 'NoneType'>

## **Setting the Specific Data Type**

In [ ]:
x = str("Python World")
print(x)
print(type(x))

x = int(5)
print(x)
print(type(x))

x = float(20.5)
print(x)
print(type(x))

x = complex(1j)
print(x)
print(type(x))

x = list(("Apple", "Banana", "Cherry"))
print(x)
print(type(x))

x = tuple(("Apple", "Banana", "Cherry"))
print(x)
print(type(x))

x = range(6)
print(x)
print(type(x))

x = dict(name="Nishat", age=23)
print(x)
print(type(x))

x = set(("Apple", "Banana", "Cherry"))
print(x)
print(type(x))

x = frozenset(("Apple", "Banana", "Cherry"))
print(x)
print(type(x))

x = bool(5)
print(x)
print(type(x))

x = bytes(5)
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytes(5))
print(x)
print(type(x))

Python World
<class 'str'>
5
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['Apple', 'Banana', 'Cherry']
<class 'list'>
('Apple', 'Banana', 'Cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'Nishat', 'age': 23}
<class 'dict'>
{'Cherry', 'Apple', 'Banana'}
<class 'set'>
frozenset({'Cherry', 'Apple', 'Banana'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7f09f431d0c0>
<class 'memoryview'>

# **Numbers**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# **Casting**

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# **Strings**

In [ ]:
print("Meow 🙀")
print('Meow 🙀')

Meow 🙀
Meow 🙀

In [ ]:
print("It's alright")
print("I am a 'Mad'")
print('I am a "Mad"')

It's alright
I am a 'Mad'
I am a "Mad"

In [ ]:
a = "Default Words"
print(a)

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Default Words
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Nishat, the, Tasnim!"
print(a[1])

i

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Persian"
print(len(a))

7

In [ ]:
a = "Cat"
print(len(a))

3

In [ ]:
a = "Persian Cat"
print(len(a))  #counts space also

11

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## **Slicing Strings**

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

## **Modify Strings**

In [ ]:
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

## **String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## **String Format**

In [ ]:
age = 23
txt = "My name is Nishat, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 23
txt = f"My name is Nishat, I am {age}"
print(txt)

My name is Nishat, I am 23

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## **Escape Character**

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-88-56cdf4283a8e>, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello\nWorld!"
print(txt)

txt = "Hello\rWorld!"
print(txt)

txt = "Hello\tWorld!"
print(txt)

txt = "Hello \bWorld!"
print(txt)

txt = "\110\145\154\154\157"
print(txt)

txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
Hello World!
Hello
Hello

## **String Methods**

In [ ]:
# capitalize()
s = "hello world"
print(s.capitalize())

# casefold()
s = "HELLO"
print(s.casefold())

# center()
s = "hello"
print(s.center(10))

# count()
s = "hello world"
print(s.count('l'))

# encode()
s = "hello"
print(s.encode())

# endswith()
s = "hello world"
print(s.endswith("world"))

# expandtabs()
s = "Hello\tWorld"
print(s.expandtabs(4))

# find()
s = "hello world"
print(s.find('world'))

# format()
s = "Hello {}"
print(s.format("World"))

# format_map()
data = {'name': 'Alice'}
s = "Hello {name}"
print(s.format_map(data))

# index()
s = "hello world"
print(s.index('world'))

# isalnum()
s = "Hello123"
print(s.isalnum())

# isalpha()
s = "Hello"
print(s.isalpha())

# isascii()
s = "Hello"
print(s.isascii())

# isdecimal()
s = "12345"
print(s.isdecimal())

# isdigit()
s = "12345"
print(s.isdigit())

# isidentifier()
s = "var_1"
print(s.isidentifier())

# islower()
s = "hello"
print(s.islower())

# isnumeric()
s = "12345"
print(s.isnumeric())

# isprintable()
s = "Hello\nWorld"
print(s.isprintable())

# isspace()
s = "   "
print(s.isspace())

# istitle()
s = "Hello World"
print(s.istitle())

# isupper()
s = "HELLO"
print(s.isupper())

# join()
s = "-"
print(s.join(['a', 'b', 'c']))

# ljust()
s = "hello"
print(s.ljust(10))

# lower()
s = "HELLO"
print(s.lower())

# lstrip()
s = "   hello"
print(s.lstrip())

# maketrans() & translate()
s = "hello"
table = s.maketrans('h', 'y')
print(s.translate(table))

# partition()
s = "hello world"
print(s.partition(' '))

# replace()
s = "hello world"
print(s.replace("world", "there"))

# rfind()
s = "hello hello"
print(s.rfind('hello'))

# rindex()
s = "hello hello"
print(s.rindex('hello'))

# rjust()
s = "hello"
print(s.rjust(10))

# rpartition()
s = "hello world"
print(s.rpartition(' '))

# rsplit()
s = "a,b,c"
print(s.rsplit(','))

# rstrip()
s = "hello   "
print(s.rstrip())

# split()
s = "a,b,c"
print(s.split(','))

# splitlines()
s = "hello\nworld"
print(s.splitlines())

# startswith()
s = "hello world"
print(s.startswith("hello"))

# strip()
s = "   hello   "
print(s.strip())

# swapcase()
s = "Hello World"
print(s.swapcase())

# title()
s = "hello world"
print(s.title())

# upper()
s = "hello"
print(s.upper())

# zfill()
s = "42"
print(s.zfill(5))

Hello world
hello
  hello
3
b'hello'
True
Hello   World
6
Hello World
Hello Alice
6
True
True
True
True
True
True
True
True
False
True
True
True
a-b-c
hello
hello
hello
yello
('hello', ' ', 'world')
hello there
6
6
     hello
('hello', ' ', 'world')
['a', 'b', 'c']
hello
['a', 'b', 'c']
['hello', 'world']
True
hello
hELLO wORLD
Hello World
HELLO
00042

# **Booleans**

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

## **Evaluate Values and Variables**

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## **Most Values are True**

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## **Some Values are False**

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## **Functions can Return a Boolean**

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
x = 200
print(isinstance(x, int))

True

# **Operators**

In [ ]:
print(10 + 5)

15

## **Arithmetic Operators**

In [ ]:
x = 10
y = 3

addition = x + y
print("Addition:", addition)

subtraction = x - y
print("Subtraction:", subtraction)

multiplication = x * y
print("Multiplication:", multiplication)

division = x / y
print("Division:", division)

modulus = x % y
print("Modulus:", modulus)

exponentiation = x ** y
print("Exponentiation:", exponentiation)

floor_division = x // y
print("Floor Division:", floor_division)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

## **Assignment Operators**

In [ ]:
# 1. Assignment (=)
x = 5
print("x =", x)

# 2. Add and Assign (+=)
x += 3
print("x += 3 -->", x)

# 3. Subtract and Assign (-=)
x -= 3
print("x -= 3 -->", x)

# 4. Multiply and Assign (*=)
x *= 3
print("x *= 3 -->", x)

# 5. Divide and Assign (/=)
x /= 3
print("x /= 3 -->", x)

# 6. Modulus and Assign (%=)
x %= 3
print("x %= 3 -->", x)

# 7. Floor Divide and Assign (//=)
x //= 3
print("x //= 3 -->", x)

# 8. Exponent and Assign (**=)
x = 5  # Reset x to 5
x **= 3
print("x **= 3 -->", x)

# 9. Bitwise AND and Assign (&=)
x &= 3
print("x &= 3 -->", x)

# 10. Bitwise OR and Assign (|=)
x |= 3
print("x |= 3 -->", x)

# 11. Bitwise XOR and Assign (^=)
x ^= 3
print("x ^= 3 -->", x)

# 12. Bitwise Right Shift and Assign (>>=)
x = 8  # Reset x to 8
x >>= 3
print("x >>= 3 -->", x)

# 13. Bitwise Left Shift and Assign (<<=)
x <<= 3
print("x <<= 3 -->", x)

# 14. Walrus Operator (:=)
print(x := 3)
print("x =", x)

x = 5
x += 3 --> 8
x -= 3 --> 5
x *= 3 --> 15
x /= 3 --> 5.0
x %= 3 --> 2.0
x //= 3 --> 0.0
x **= 3 --> 125
x &= 3 --> 1
x |= 3 --> 3
x ^= 3 --> 0
x >>= 3 --> 1
x <<= 3 --> 8
3
x = 3

## **Comparison Operators**

In [ ]:
x = 5
y = 5
print("x == y:", x == y)

x = 5
y = 3
print("x != y:", x != y)

x = 5
y = 3
print("x > y:", x > y)

x = 5
y = 7
print("x < y:", x < y)

x = 5
y = 5
print("x >= y:", x >= y)

x = 5
y = 7
print("x <= y:", x <= y)

x == y: True
x != y: True
x > y: True
x < y: True
x >= y: True
x <= y: True

## **Logical Operators**

In [ ]:
x = 3
print("x < 5 and x < 10:", x < 5 and x < 10)

x = 3
print("x < 5 or x < 4:", x < 5 or x < 4)

x = 7
print("not(x < 5 and x < 10):", not(x < 5 and x < 10))

x < 5 and x < 10: True
x < 5 or x < 4: True
not(x < 5 and x < 10): True

## **Identity Operators**

In [ ]:
x = [1, 2, 3]
y = x
print("x is y:", x is y)

x = [1, 2, 3]
y = [1, 2, 3]
print("x is not y:", x is not y)

x is y: True
x is not y: True

## **Membership Operators**

In [ ]:
x = 3
y = [1, 2, 3, 4, 5]
print("x in y:", x in y)

x = 6
y = [1, 2, 3, 4, 5]
print("x not in y:", x not in y)

x in y: True
x not in y: True

## **Bitwise Operators**

In [ ]:
# 1. AND (&)
x = 5  # Binary: 0101
y = 3  # Binary: 0011
print("x & y:", x & y)  # Result: 0001 (1 in decimal)

# 2. OR (|)
x = 5  # Binary: 0101
y = 3  # Binary: 0011
print("x | y:", x | y)  # Result: 0111 (7 in decimal)

# 3. XOR (^)
x = 5  # Binary: 0101
y = 3  # Binary: 0011
print("x ^ y:", x ^ y)  # Result: 0110 (6 in decimal)

# 4. NOT (~)
x = 5  # Binary: 0101
print("~x:", ~x)  # Result: -0110 (Inverted binary: 1010, which is -6 in decimal)

# 5. Zero fill left shift (<<)
x = 5  # Binary: 0101
print("x << 2:", x << 2)  # Result: 0001 0100 (20 in decimal)

# 6. Signed right shift (>>)
x = 20  # Binary: 0001 0100
print("x >> 2:", x >> 2)  # Result: 0000 0101 (5 in decimal)

x & y: 1
x | y: 7
x ^ y: 6
~x: -6
x << 2: 20
x >> 2: 5

## **Operator Precedence**

In [ ]:
# Parentheses
print((6 + 3) - (6 + 3))  # Parentheses have the highest precedence

# Exponentiation
print(2 ** 3)  # Exponentiation has higher precedence than addition

# Unary plus, unary minus, and bitwise NOT
x = 5
print(+x)  # Unary plus
print(-x)  # Unary minus
print(~x)  # Bitwise NOT

# Multiplication, division, floor division, and modulus
print(100 + 5 * 3)  # Multiplication has higher precedence than addition
print(100 / 5 * 3)  # Division has higher precedence than multiplication
print(100 // 5)     # Floor division
print(100 % 3)      # Modulus

# Addition and subtraction
print(5 + 4 - 7 + 3)  # Addition and subtraction have the same precedence, evaluated from left to right

# Bitwise left and right shifts
x = 4  # Binary: 0100
print(x << 2)  # Left shift
print(x >> 1)  # Right shift

# Bitwise AND, XOR, and OR
print(5 & 3)   # Bitwise AND
print(5 ^ 3)   # Bitwise XOR
print(5 | 3)   # Bitwise OR

# Comparisons, identity, and membership operators
x = 5
y = 3
print(x == y)  # Comparison
print(x != y)  # Comparison
print(x > y)   # Comparison
print(x < y)   # Comparison
print(x is y)  # Identity
print(x is not y)  # Identity
print(x in [1, 2, 3, 5])  # Membership
print(x not in [1, 2, 3, 4])  # Membership

# Logical NOT, AND, and OR
print(not (x > y))
print(x > y and x != y)
print(x > y or x == y)

0
8
5
-5
-6
115
60.0
20
1
5
16
2
1
6
7
False
True
True
False
False
True
True
True
False
True
True

# **Python If ... Else**

## **If**

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 5
b = 10

if a == b:
    print("a is equal to b")

if a != b:
    print("a is not equal to b")

if a < b:
    print("a is less than b")

if a <= b:
    print("a is less than or equal to b")

if a > b:
    print("a is greater than b")

if a >= b:
    print("a is greater than or equal to b")

a is not equal to b
a is less than b
a is less than or equal to b

## **Elif**

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 5
b = 10

if a == b:
    print("a is equal to b")
elif a != b:
    print("a is not equal to b")
    if a < b:
        print("a is less than b")
    elif a > b:
        print("a is greater than b")

if a <= b:
    print("a is less than or equal to b")
elif a >= b:
    print("a is greater than or equal to b")

a is not equal to b
a is less than b
a is less than or equal to b

## **Else**

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## **If..Elif...Else**

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 5
b = 10

if a == b:
    print("a is equal to b")
elif a != b:
    print("a is not equal to b")

    if a < b:
        print("a is less than b")
    elif a > b:
        print("a is greater than b")

if a <= b:
    print("a is less than or equal to b")
elif a >= b:
    print("a is greater than or equal to b")
else:
    print("This condition is not possible!")

a is not equal to b
a is less than b
a is less than or equal to b

## **Short Hand If**

In [ ]:
a = 7
b = 3

if a > b: print("a is greater than b")

a is greater than b

## **Short Hand If..Else**

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## **And**

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

## **Or**

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## **Not**

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

## **Nested If**

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## **Pass**

In [ ]:
a = 33
b = 200

if b > a:
  pass

# **Python Loops**

# **For Loop**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break              #break statement we can stop the loop before it has looped through all the items

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue          #continue statement we can stop the current iteration of the loop, and continue with the next
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

# **While Loops**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#### **Practice:**

In [8]:
DS_Topics = ["Python", "OOP", "Machine Learning", "Deep Learning", "NLP"]

print("Data Science Topics :")
for topic in DS_Topics:
    print(topic)

Data Science Topics :
Python
OOP
Machine Learning
Deep Learning
NLP

In [9]:
DS_Topics = ["Python", "OOP", "Machine Learning"]

print("Data Science Topics Nishat Completed :")
i = 0
while i < len(DS_Topics):
    print(DS_Topics[i])
    i += 1

Data Science Topics Nishat Completed :
Python
OOP
Machine Learning

### **To Be Continued....**