<a href="https://colab.research.google.com/github/NishatTasnim01/Data-Science-Basics/blob/main/2_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure X Python**

### **Lists**
Lists are ordered, mutable collections that allow duplicate elements. They are defined using square brackets (`[]`).

```python
my_list = [1, 2, 3, 4]
print("List:", my_list)
```

### **Tuples**
Tuples are ordered, immutable collections that allow duplicate elements. They are defined using parentheses (`()`).

```python
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)
```

### **Sets**
Sets are unordered collections of unique elements. They are defined using curly braces (`{}`) or the `set()` function.

```python
my_set = {1, 2, 3, 4}
print("Set:", my_set)
```

### **Dictionaries**
Dictionaries are unordered collections of key-value pairs. Keys must be unique, and values can be any type. They are defined using curly braces (`{}`).

```python
my_dict = {"name": "Alice", "age": 25}
print("Dictionary:", my_dict)
```

### **Key Operations and Methods**

#### Lists
- `append()`: Adds an element to the end of the list.
- `remove()`: Removes the first occurrence of a specified value.
- `pop()`: Removes and returns an element at a specified position.
- `extend()`: Extends the list by appending elements from an iterable.
- `insert()`: Inserts an element at a specified position.

#### Tuples
- **Indexing**: Access elements by position (e.g., `my_tuple[0]`).
- **Slicing**: Retrieve a subset of elements (e.g., `my_tuple[1:3]`).
- **Note**: No modification methods since tuples are immutable.

#### Dictionaries
- `keys()`: Returns a view object that displays a list of all the keys.
- `values()`: Returns a view object that displays a list of all the values.
- `items()`: Returns a view object that displays a list of all the key-value pairs.
- `get()`: Returns the value for a specified key. Returns `None` if the key does not exist.
- `update()`: Updates the dictionary with elements from another dictionary or iterable of key-value pairs.
- `pop()`: Removes the item with the specified key and returns its value.

#### Sets
- `add()`: Adds an element to the set.
- `remove()`: Removes a specified element from the set. Raises an error if the element is not found.
- `discard()`: Removes a specified element from the set. Does not raise an error if the element is not found.
- `union()`: Returns a new set with elements from the set and all others.
- `intersection()`: Returns a new set with elements common to the set and others.
- `difference()`: Returns a new set with elements in the set that are not in the others.

# **ðŸ”¶ Lists ðŸ”·**

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(len(mylist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
newlist = list(("apple", "banana", "cherry"))
print(newlist)

['apple', 'banana', 'cherry']

## **Access List Items**

In [ ]:
list1 = ["apple", "banana", "cherry", "watermelon"]
print(list1[1])

banana

In [ ]:
list1 = ["apple", "banana", "cherry", "watermelon"]
print(list1[-1])

watermelon

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list2[2:5])
print(list2[:4])
print(list2[2:])
print(list2[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [ ]:
list3 = ["apple", "avocado", "banana", "cherry"]
if "avocado" in list3:
  print("Yes, Avocado ðŸ¥‘ is in the fruits list, you wanna eat?")

Yes, Avocado ðŸ¥‘ is in the fruits list, you wanna eat?

## **Change List Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1[1] = "durian"
print(list1)

['apple', 'durian', 'cherry']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2[1:3] = ["pawpaw", "noni"]
print(list2)

['apple', 'pawpaw', 'noni', 'orange', 'kiwi', 'mango']

In [ ]:
list3 = ["kuwini mango", "banana", "black apple"]
list3[1:2] = ["coco de mer", "snakefruit"]
print(list3)

['kuwini mango', 'coco de mer', 'snakefruit', 'black apple']

In [ ]:
list4 = ["kuwini mango", "blue java banana", "black apple"]
list4[1:3] = ["chocolate pudding fruit"]
print(list4)

['kuwini mango', 'chocolate pudding fruit']

In [ ]:
list5 = ["kuwini mango", "blue java banana", "black apple"]
list5.insert(2, "finger lime")
print(list5)

['kuwini mango', 'blue java banana', 'finger lime', 'black apple']

## **Add List Items**

#### **Append Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1.append("orange")
print(list1)

['apple', 'banana', 'cherry', 'orange']

#### **Insert Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1.insert(1, "orange")
print(list1)

['apple', 'orange', 'banana', 'cherry']

#### **Extend List**

In [ ]:
list1 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
list1.extend(tropical)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### **Add Any Iterable**

In [ ]:
list1 = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
list1.extend(thistuple)
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## **Remove List Items**

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.remove("banana")
print(list2)

['apple', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "banana", "kiwi", "mango"]
list2.remove("banana")   #Remove the first occurrence of "banana"
print(list2)

['apple', 'cherry', 'orange', 'banana', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.pop(1)             #pop() method removes the specified index
print(list2)

['apple', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.pop()              #index not specified, the pop() method removes the last item
print(list2)

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
del list2[0]             #del keyword removes the specified index
print(list2)

['banana', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
del list2                #del keyword can also delete the list completely
#can not print since there is no list

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.clear()            #clear() method empties the list
print(list2)

[]

## **Loop Lists**

#### **Loop Through a List**

In [ ]:
list3 = ["apple", "banana", "cherry"]
for x in list3:
  print(x)

apple
banana
cherry

#### **Loop Through the Index Numbers**

In [ ]:
list3 = ["apple", "banana", "cherry"]
for i in range(len(list3)):
  print(list3[i])

apple
banana
cherry

#### **Using a While Loop**

In [ ]:
list3 = ["apple", "banana", "cherry"]
i = 0
while i < len(list3):
  print(list3[i])
  i = i + 1

apple
banana
cherry

#### **Looping Using List Comprehension**

In [ ]:
list3 = ["apple", "banana", "cherry"]
[print(x) for x in list3]

apple
banana
cherry

[None, None, None]

## **List Comprehension**

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

##### **Practice:**

In [ ]:
# Initial list of fruits
fruits = ["apple", "banana", "cherry", "apple", "orange", "banana", "grape"]

# Example 1: Filter out "apple"
newlist = [x for x in fruits if x != "apple"]
print("Without 'apple':", newlist)

# Example 2: Without condition (no filtering, just copy the list)
newlist = [x for x in fruits]
print("All fruits:", newlist)

# Example 3: Create a list using range()
newlist = [x for x in range(10)]
print("Range list:", newlist)

# Example 4: Accept only numbers less than 5 from range()
newlist = [x for x in range(10) if x < 5]
print("Numbers less than 5:", newlist)

# Example 5: Set all fruit names to uppercase
newlist = [x.upper() for x in fruits]
print("Uppercase fruits:", newlist)

# Example 6: Set all values to 'cucamelon'
newlist = ['cucamelon' for x in fruits]
print("All 'cucamelon':", newlist)

# Example 7: Replace "banana" with "orange"
newlist = [x if x != "banana" else "orange" for x in fruits]
print("Bananas replaced with oranges:", newlist)

Without 'apple': ['banana', 'cherry', 'orange', 'banana', 'grape']
All fruits: ['apple', 'banana', 'cherry', 'apple', 'orange', 'banana', 'grape']
Range list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Numbers less than 5: [0, 1, 2, 3, 4]
Uppercase fruits: ['APPLE', 'BANANA', 'CHERRY', 'APPLE', 'ORANGE', 'BANANA', 'GRAPE']
All 'cucamelon': ['cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon']
Bananas replaced with oranges: ['apple', 'orange', 'cherry', 'apple', 'orange', 'orange', 'grape']

## **Sort Lists**

In [ ]:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort()
print(list1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
list2 = [100, 50, 65, 82, 23]
list2.sort()
print(list2)

[23, 50, 65, 82, 100]

In [ ]:
list3 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list3.sort(reverse = True)
print(list3)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
list4 = [100, 50, 65, 82, 23]
list4.sort(reverse = True)
print(list4)

[100, 82, 65, 50, 23]

In [ ]:
def myfunc(n):
  return abs(n - 50)

list5 = [100, 50, 65, 82, 23]
list5.sort(key = myfunc)
print(list5)

[50, 65, 23, 82, 100]

In [ ]:
list6 = ["banana", "Orange", "Kiwi", "cherry"]
list6.sort()       #sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
print(list6)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
list7 = ["banana", "Orange", "Kiwi", "cherry"]
list7.sort(key = str.lower)
print(list7)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
list8 = ["banana", "Orange", "Kiwi", "cherry"]
list8.reverse()
print(list8)

['cherry', 'Kiwi', 'Orange', 'banana']

## **Copy Lists**

In [ ]:
list1 = ["apple", "banana", "cherry"]
mylist = list1.copy()       #built-in List method copy() to copy a list
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list2 = ["apple", "banana", "cherry"]
mylist = list(list2)      #built-in method list() to copy a list
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list3 = ["apple", "banana", "cherry"]
mylist = list3[:]        #also copy of a list by using the : (slice) operator
print(list3)

['apple', 'banana', 'cherry']

## **Join Lists**

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2      #Join two lists by using the + operator
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)         #Use a for loop to append elements from list2 to list1

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)      #extend() method to add list2 at the end of list1
print(list1)

['a', 'b', 'c', 1, 2, 3]

##### **Practice of the List Methods**

In [ ]:
my_list = [3, 1, 4, 1, 5, 9]

# append() - Adds an element at the end of the list
my_list.append(6)
print("After append:", my_list)

# clear() - Removes all the elements from the list
my_list.clear()
print("After clear:", my_list)

# copy() - Returns a copy of the list
my_list = [3, 1, 4, 1, 5, 9]
copied_list = my_list.copy()
print("Original list:", my_list)
print("Copied list:", copied_list)

# count() - Returns the number of elements with the specified value
count_of_1 = my_list.count(1)
print("Count of 1:", count_of_1)

# extend() - Adds the elements of a list (or any iterable), to the end of the current list
my_list.extend([7, 8])
print("After extend:", my_list)

# index() - Returns the index of the first element with the specified value
index_of_4 = my_list.index(4)
print("Index of 4:", index_of_4)

# insert() - Adds an element at the specified position
my_list.insert(2, 99)
print("After insert:", my_list)

# pop() - Removes the element at the specified position
popped_element = my_list.pop(3)
print("Popped element:", popped_element)
print("After pop:", my_list)

# remove() - Removes the item with the specified value
my_list.remove(99)
print("After remove:", my_list)

# reverse() - Reverses the order of the list
my_list.reverse()
print("After reverse:", my_list)

# sort() - Sorts the list
my_list.sort()
print("After sort:", my_list)

After append: [3, 1, 4, 1, 5, 9, 6]
After clear: []
Original list: [3, 1, 4, 1, 5, 9]
Copied list: [3, 1, 4, 1, 5, 9]
Count of 1: 2
After extend: [3, 1, 4, 1, 5, 9, 7, 8]
Index of 4: 2
After insert: [3, 1, 99, 4, 1, 5, 9, 7, 8]
Popped element: 4
After pop: [3, 1, 99, 1, 5, 9, 7, 8]
After remove: [3, 1, 1, 5, 9, 7, 8]
After reverse: [8, 7, 9, 5, 1, 1, 3]
After sort: [1, 1, 3, 5, 7, 8, 9]

# **ðŸ”¶ Tuples ðŸ”·**

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
tuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple1)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
tuple2 = ("apple", "banana", "cherry")
print(len(tuple2))

3

In [ ]:
tuple3 = ("apple",)
print(type(tuple3))

#NOT a tuple
tuple4 = ("apple")
print(type(tuple4))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple5 = ("apple", "banana", "cherry")
tuple6 = (1, 5, 7, 9, 3)
tuple7 = (True, False, False)

print(tuple5)
print(tuple6)
print(tuple7)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [ ]:
tuple8 = ("abc", 34, True, 40, "male")
print(tuple8)

('abc', 34, True, 40, 'male')

In [ ]:
tuple9 = ("apple", "banana", "cherry")
print(type(tuple9))

<class 'tuple'>

In [ ]:
tuple10 = tuple(("apple", "banana", "cherry"))  # tuple() constructor to make a tuple
print(tuple10)

('apple', 'banana', 'cherry')

## **Access Tuple Items**

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1[1])          #access tuple items by referring to the index number

banana

In [ ]:
tuple2 = ("apple", "banana", "cherry")
print(tuple2[-1])         #-1 refers to the last item, -2 refers to the second last item

cherry

In [ ]:
tuple3 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple3[2:5])        #return the third, fourth, and fifth item

('cherry', 'orange', 'kiwi')

In [ ]:
tuple4 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple4[:4])         #returns the items from the beginning to, but NOT including, "kiwi"

('apple', 'banana', 'cherry', 'orange')

In [ ]:
tuple5 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple5[2:])         #returns the items from "cherry" and to the end

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
tuple6 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple6[-4:-1])      #negative indexing will start the search from the end of the tuple

('orange', 'kiwi', 'melon')

In [ ]:
tuple7 = ("apple", "banana", "cherry")
if "apple" in tuple7:                               #check if "apple" is present in a tuple
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **Update Tuples**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)                #convert the tuple into a list
y[1] = "kiwi"
x = tuple(y)               #convert the list back into a tuple

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)        #convert the tuple into a list, add "orange", and convert it back into a tuple
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y              #Add tuple to a tuple

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)         #Convert the tuple into a list, remove "apple", and convert it back into a tuple
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple)          #this will raise an error because the tuple no longer exists

## **Unpack Tuples**

In [ ]:
fruits = ("apple", "banana", "cherry")      #Packing a tuple
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")     #Unpacking a tuple

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits            #Assign the rest of the values as a list called "red"

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## **Loop Tuples**

In [ ]:
tuple1 = ("mangosteen", "miracle fruit", "cherimoya")

for x in tuple1:
    print(x)

mangosteen
miracle fruit
cherimoya

In [ ]:
tuple2 = ("durian", "rambutan", "jabuticaba")

for i in range(len(tuple2)):
    print(tuple2[i])

durian
rambutan
jabuticaba

In [ ]:
tuple3 = ("longan", "salak", "ackee")

i = 0
while i < len(tuple3):
    print(tuple3[i])
    i += 1

longan
salak
ackee

## **Join Tuples**

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("durian", "rambutan", "jabuticaba")
mytuple = fruits * 2

print(mytuple)

('durian', 'rambutan', 'jabuticaba', 'durian', 'rambutan', 'jabuticaba')

##### **Practice of the Tuple Methods**

In [ ]:
tuple1 = ("mango", "jackfruit", "lychee", "jackfruit", "banana", "lychee", "jackfruit")

# count() - Returns the number of times a specified value occurs in the tuple
count_jackfruit = tuple1.count("jackfruit")
print("Count of 'jackfruit':", count_jackfruit)

# index() - Searches for a specified value and returns the position where it was first found
index_lychee = tuple1.index("lychee")
print("Index of first 'lychee':", index_lychee)

Count of 'jackfruit': 3
Index of first 'lychee': 2

# **ðŸ”¶ Sets ðŸ”·**

In [ ]:
set1 = {"apple", "banana", "cherry"}
print(set1)

{'banana', 'apple', 'cherry'}

In [ ]:
set2 = {"apple", "banana", "cherry", "apple"}           #Duplicates Not Allowed
print(set2)

{'banana', 'apple', 'cherry'}

In [ ]:
set3 = {"apple", "banana", "cherry", True, 1, 2}        #True and 1 is considered the same value
print(set3)

{True, 'banana', 2, 'apple', 'cherry'}

In [ ]:
set4 = {"apple", "banana", "cherry", False, True, 0}    #False and 0 is considered the same value
print(set4)

{False, True, 'banana', 'apple', 'cherry'}

In [ ]:
set5 = {"apple", "banana", "cherry"}
print(len(set5))

3

##### **Data Types**

In [ ]:
set0 = {"abc", 34, True, 40, "male"}
print(type(set0))

<class 'set'>

In [ ]:
#Practice : Duplicated Not allowed, len(), type()

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

print(len(set1))
print(len(set2))
print(len(set3))

print(type(set1))
print(type(set2))
print(type(set3))

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
3
5
2
<class 'set'>
<class 'set'>
<class 'set'>

**set() Constructor**

In [ ]:
set1 = set(("apple", "banana", "cherry"))    #set constructor
print(set1)

{'banana', 'apple', 'cherry'}

## **Access Set Items**

In [ ]:
set2 = {"apple", "banana", "cherry"}
for x in set2:
  print(x)

banana
apple
cherry

In [ ]:
set3 = {"apple", "banana", "cherry"}
print("banana" in set3)

True

In [ ]:
set4 = {"apple", "banana", "cherry"}
print("banana" not in set4)

False

## **Add Set Items**

In [ ]:
se5 = {"apple", "banana", "cherry"}
set5.add("orange")
print(set5)

{'banana', 'apple', 'cherry', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'mango', 'pineapple', 'papaya', 'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]       #Add elements of a list to at set

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

## **Remove Set Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")     #If the item to remove does not exist, discard() will NOT raise an error

print(thisset)

{'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()           #Remove a random item by using the pop() method

print(x)
print(thisset)

banana
{'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()           #The clear() method empties the set

print(thisset)

set()

## **Loop Sets**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

## **Join Sets**

### **Union**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)       #union() method returns a new set with all items from both sets
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2           #use the | operator instead of the union() method, and you will get the same result
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)       #When using the union() method, separate the sets with a comma
print(myset)

{1, 2, 3, 'a', 'c', 'John', 'Elena', 'apple', 'bananas', 'b', 'cherry'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4              #When using the | operator, separate the sets with more | operators
print(myset)

{1, 2, 3, 'a', 'c', 'John', 'Elena', 'apple', 'bananas', 'b', 'cherry'}

In [ ]:
x = {"a", "b", "c"}   #set
y = (1, 2, 3)         #tuple

z = x.union(y)        #union() method can also be used with tuples
print(z)

{1, 2, 3, 'a', 'c', 'b'}

### **Update**

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)                  #update() method inserts the items in set2 into set1
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

### **Intersection**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)     #intersection() method will return a new set, that only contains the items that are present in both sets
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2               #use the & operator instead of the intersection() method, and you will get the same result
print(set3)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)    #intersection_update() method will keep only the items that are present in both sets

print(set1)

{'apple'}

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### **Difference**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)              #difference() method will return a new set that will contain only the items from the first set that are not present in the other set

print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2                      #use the - operator instead of the difference() method, and you will get the same result
print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)           #difference_update() method to keep the items that are not present in both sets

print(set1)

{'banana', 'cherry'}

### **Symmetric Differences**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)        #symmetric_difference() method will keep only the elements that are NOT present in both sets

print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2                          #use the ^ operator instead of the symmetric_difference() method, and you will get the same result
print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)     #symmetric_difference_update() method to keep the items that are not present in both sets

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}

##### **Practice of the Set Methods**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "durian", "elderberry"}

# add() - Adds an element to the set
set1.add("fig")
print("After add:", set1)

# clear() - Removes all the elements from the set
set1.clear()
print("After clear:", set1)

# copy() - Returns a copy of the set
set1 = {"apple", "banana", "cherry"}
set3 = set1.copy()
print("Copied set:", set3)

# difference() - Returns a set containing the difference between two sets
diff = set1.difference(set2)
print("Difference:", diff)

# difference_update() - Removes the items in this set that are also included in another set
set1.difference_update(set2)
print("After difference_update:", set1)

# discard() - Remove the specified item
set1.discard("banana")
print("After discard:", set1)

# intersection() - Returns a set, that is the intersection of two sets
set1 = {"apple", "banana", "cherry"}
intersection = set1.intersection(set2)
print("Intersection:", intersection)

# intersection_update() - Removes the items in this set that are not present in other set(s)
set1.intersection_update(set2)
print("After intersection_update:", set1)

# isdisjoint() - Returns whether two sets have a intersection or not
disjoint = set1.isdisjoint(set2)
print("Is disjoint:", disjoint)

# issubset() - Returns whether another set contains this set or not
subset = set1.issubset(set2)
print("Is subset:", subset)

# issuperset() - Returns whether this set contains another set or not
set1 = {"apple", "banana", "cherry"}
superset = set1.issuperset(set2)
print("Is superset:", superset)

# pop() - Removes an element from the set
popped_element = set1.pop()
print("Popped element:", popped_element)
print("After pop:", set1)

# remove() - Removes the specified element
set1.remove("apple")
print("After remove:", set1)

# symmetric_difference() - Returns a set with the symmetric differences of two sets
set1 = {"apple", "banana", "cherry"}
sym_diff = set1.symmetric_difference(set2)
print("Symmetric difference:", sym_diff)

# symmetric_difference_update() - Inserts the symmetric differences from this set and another
set1.symmetric_difference_update(set2)
print("After symmetric_difference_update:", set1)

# union() - Returns a set containing the union of sets
set1 = {"apple", "banana", "cherry"}
union_set = set1.union(set2)
print("Union:", union_set)

# update() - Updates the set with the union of this set and others
set1.update(set2)
print("After update:", set1)

After add: {'fig', 'banana', 'apple', 'cherry'}
After clear: set()
Copied set: {'banana', 'apple', 'cherry'}
Difference: {'apple', 'cherry'}
After difference_update: {'apple', 'cherry'}
After discard: {'apple', 'cherry'}
Intersection: {'banana'}
After intersection_update: {'banana'}
Is disjoint: False
Is subset: True
Is superset: False
Popped element: banana
After pop: {'apple', 'cherry'}
After remove: {'cherry'}
Symmetric difference: {'durian', 'elderberry', 'apple', 'cherry'}
After symmetric_difference_update: {'cherry', 'elderberry', 'apple', 'durian'}
Union: {'banana', 'durian', 'elderberry', 'apple', 'cherry'}
After update: {'banana', 'durian', 'elderberry', 'apple', 'cherry'}

# **ðŸ”¶ Dictionaries ðŸ”·**

In [ ]:
dict0 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(dict0)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(dict1["brand"])

Ford

In [ ]:
dict2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(dict2)
print(len(dict2))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [ ]:
dict3 = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}

print(dict3)     #string, int, boolean, and list data types
print(type(dict3))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

In [ ]:
dict4 = dict(name = "Nishat", age = 23, country = "Bangladesh")
print(dict4)
print(type(dict4))

{'name': 'Nishat', 'age': 23, 'country': 'Bangladesh'}
<class 'dict'>

### **Accessing Items**

In [ ]:
dict5 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = dict5["model"]
print(x)

Mustang

In [ ]:
x = dict5.get("model")
print(x)

Mustang

In [ ]:
x = dict5.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

y = car.values()    #get a list of values
print(y)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
car = {
"brand" : "Ford",
"model" : "Mustang",
"year" : 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change
x  = car.items()
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])