<a href="https://colab.research.google.com/github/NishatTasnim01/Data-Science-Basics/blob/main/2_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure X Python**

### **Lists**
Lists are ordered, mutable collections that allow duplicate elements. They are defined using square brackets (`[]`).

```python
my_list = [1, 2, 3, 4]
print("List:", my_list)
```

### **Tuples**
Tuples are ordered, immutable collections that allow duplicate elements. They are defined using parentheses (`()`).

```python
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)
```

### **Sets**
Sets are unordered collections of unique elements. They are defined using curly braces (`{}`) or the `set()` function.

```python
my_set = {1, 2, 3, 4}
print("Set:", my_set)
```

### **Dictionaries**
Dictionaries are unordered collections of key-value pairs. Keys must be unique, and values can be any type. They are defined using curly braces (`{}`).

```python
my_dict = {"name": "Alice", "age": 25}
print("Dictionary:", my_dict)
```

### **Key Operations and Methods**

#### Lists
- `append()`: Adds an element to the end of the list.
- `remove()`: Removes the first occurrence of a specified value.
- `pop()`: Removes and returns an element at a specified position.
- `extend()`: Extends the list by appending elements from an iterable.
- `insert()`: Inserts an element at a specified position.

#### Tuples
- **Indexing**: Access elements by position (e.g., `my_tuple[0]`).
- **Slicing**: Retrieve a subset of elements (e.g., `my_tuple[1:3]`).
- **Note**: No modification methods since tuples are immutable.

#### Dictionaries
- `keys()`: Returns a view object that displays a list of all the keys.
- `values()`: Returns a view object that displays a list of all the values.
- `items()`: Returns a view object that displays a list of all the key-value pairs.
- `get()`: Returns the value for a specified key. Returns `None` if the key does not exist.
- `update()`: Updates the dictionary with elements from another dictionary or iterable of key-value pairs.
- `pop()`: Removes the item with the specified key and returns its value.

#### Sets
- `add()`: Adds an element to the set.
- `remove()`: Removes a specified element from the set. Raises an error if the element is not found.
- `discard()`: Removes a specified element from the set. Does not raise an error if the element is not found.
- `union()`: Returns a new set with elements from the set and all others.
- `intersection()`: Returns a new set with elements common to the set and others.
- `difference()`: Returns a new set with elements in the set that are not in the others.

# **Lists**

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(len(mylist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
newlist = list(("apple", "banana", "cherry"))
print(newlist)

['apple', 'banana', 'cherry']

## **Access List Items**

In [ ]:
list1 = ["apple", "banana", "cherry", "watermelon"]
print(list1[1])

banana

In [ ]:
list1 = ["apple", "banana", "cherry", "watermelon"]
print(list1[-1])

watermelon

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list2[2:5])
print(list2[:4])
print(list2[2:])
print(list2[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [ ]:
list3 = ["apple", "avocado", "banana", "cherry"]
if "avocado" in list3:
  print("Yes, Avocado ðŸ¥‘ is in the fruits list, you wanna eat?")

Yes, Avocado ðŸ¥‘ is in the fruits list, you wanna eat?

## **Change List Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1[1] = "durian"
print(list1)

['apple', 'durian', 'cherry']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2[1:3] = ["pawpaw", "noni"]
print(list2)

['apple', 'pawpaw', 'noni', 'orange', 'kiwi', 'mango']

In [ ]:
list3 = ["kuwini mango", "banana", "black apple"]
list3[1:2] = ["coco de mer", "snakefruit"]
print(list3)

['kuwini mango', 'coco de mer', 'snakefruit', 'black apple']

In [ ]:
list4 = ["kuwini mango", "blue java banana", "black apple"]
list4[1:3] = ["chocolate pudding fruit"]
print(list4)

['kuwini mango', 'chocolate pudding fruit']

In [ ]:
list5 = ["kuwini mango", "blue java banana", "black apple"]
list5.insert(2, "finger lime")
print(list5)

['kuwini mango', 'blue java banana', 'finger lime', 'black apple']

## **Add List Items**

#### **Append Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1.append("orange")
print(list1)

['apple', 'banana', 'cherry', 'orange']

#### **Insert Items**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list1.insert(1, "orange")
print(list1)

['apple', 'orange', 'banana', 'cherry']

#### **Extend List**

In [ ]:
list1 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
list1.extend(tropical)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### **Add Any Iterable**

In [ ]:
list1 = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
list1.extend(thistuple)
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## **Remove List Items**

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.remove("banana")
print(list2)

['apple', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "banana", "kiwi", "mango"]
list2.remove("banana")   #Remove the first occurrence of "banana"
print(list2)

['apple', 'cherry', 'orange', 'banana', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.pop(1)             #pop() method removes the specified index
print(list2)

['apple', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.pop()              #index not specified, the pop() method removes the last item
print(list2)

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
del list2[0]             #del keyword removes the specified index
print(list2)

['banana', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
del list2                #del keyword can also delete the list completely
#can not print since there is no list

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2.clear()            #clear() method empties the list
print(list2)

[]

# **Loop Lists**

#### **Loop Through a List**

In [ ]:
list3 = ["apple", "banana", "cherry"]
for x in list3:
  print(x)

apple
banana
cherry

#### **Loop Through the Index Numbers**

In [ ]:
list3 = ["apple", "banana", "cherry"]
for i in range(len(list3)):
  print(list3[i])

apple
banana
cherry

#### **Using a While Loop**

In [ ]:
list3 = ["apple", "banana", "cherry"]
i = 0
while i < len(list3):
  print(list3[i])
  i = i + 1

apple
banana
cherry

#### **Looping Using List Comprehension**

In [ ]:
list3 = ["apple", "banana", "cherry"]
[print(x) for x in list3]

apple
banana
cherry

[None, None, None]

# **List Comprehension**

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

#### **Practice:**

In [ ]:
# Initial list of fruits
fruits = ["apple", "banana", "cherry", "apple", "orange", "banana", "grape"]

# Example 1: Filter out "apple"
newlist = [x for x in fruits if x != "apple"]
print("Without 'apple':", newlist)

# Example 2: Without condition (no filtering, just copy the list)
newlist = [x for x in fruits]
print("All fruits:", newlist)

# Example 3: Create a list using range()
newlist = [x for x in range(10)]
print("Range list:", newlist)

# Example 4: Accept only numbers less than 5 from range()
newlist = [x for x in range(10) if x < 5]
print("Numbers less than 5:", newlist)

# Example 5: Set all fruit names to uppercase
newlist = [x.upper() for x in fruits]
print("Uppercase fruits:", newlist)

# Example 6: Set all values to 'cucamelon'
newlist = ['cucamelon' for x in fruits]
print("All 'cucamelon':", newlist)

# Example 7: Replace "banana" with "orange"
newlist = [x if x != "banana" else "orange" for x in fruits]
print("Bananas replaced with oranges:", newlist)

Without 'apple': ['banana', 'cherry', 'orange', 'banana', 'grape']
All fruits: ['apple', 'banana', 'cherry', 'apple', 'orange', 'banana', 'grape']
Range list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Numbers less than 5: [0, 1, 2, 3, 4]
Uppercase fruits: ['APPLE', 'BANANA', 'CHERRY', 'APPLE', 'ORANGE', 'BANANA', 'GRAPE']
All 'cucamelon': ['cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon', 'cucamelon']
Bananas replaced with oranges: ['apple', 'orange', 'cherry', 'apple', 'orange', 'orange', 'grape']

# **Sort Lists**